* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 15px auto;
  max-width: 600px;
  padding: 0 20px;
}

#formulario {
  padding: 20px;
  text-align: center;
  background-color: rgb(249, 249, 249);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: calc(100% - 20px);
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(0, 86, 179);
}
